*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height:100%;
    margin:0;
    background:#333;
    
}

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.text-input {
    margin: auto;
    margin-bottom:0;
    width: 490px; /* magic: width of keyboard */
    height: 200px;
    padding: 20px;
    border-radius: 5px 5px 0 0;
    background: white;
    white-space: pre-wrap;
}

.text-cursor {
    display: inline-block;
    width: 2px;
    height: 1.1em;
    background: dodgerblue;
    vertical-align: bottom;
    animation: blink 0.6s infinite alternate;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.keyboard {
    margin: auto;
    margin-top:0;
    padding: 20px;
    position: relative;
    background: #ddd;
    border-radius: 0 0 5px 5px;
}

.line {
    position:relative;
    display: flex;
}

.line-1 { margin-left:0 }
.line-2 { margin-left:10px }
.line-3 { margin-left:20px }

.key {
    width: 44px;
    height: 44px;
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    /*font-weight: bold;*/
    font-size: 24px;
}
.key.hovered {
    background: rgba(0,0,0,0.1);
}

.floating {
    display: block;
    position: absolute;
}

.cursor {
}

.cursor::after {
    content: '';
    display: block;
    position: relative;
    top: calc(33px / -2);
    left: calc(33px / -2);
    width: 33px;
    height: 33px;
    border-radius:50%;
    background: orange;
}

.cursor-debug {
    width: 1px;
    /*background: red;*/
    opacity: 0.1;
    height: 100%;
    top: 0;
    transform: translateZ(0);
}